html, body{
    float: none;
    margin: 0px;
    padding-top: 70px;
    scroll-behavior: smooth!important;
}
.asap{
    font-family: 'Asap', sans-serif!important;
}
.fullScreen{
    min-height: 80vh!important;
    height: 80vh!important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Asap', sans-serif!important;
    font-weight: 600!important;
}
p{
    font-family: 'Asap', sans-serif!important;
    font-weight: 400!important;
}
.odsBox{
    text-align: left;
    height: 200px!important;
    width: 200px!important;
    background: inherit!important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ods4{
    border:3px #c31f33 solid!important;
    color: #c31f33!important;
    transition: 0.7s;
}
.ods4:hover{
    background-color: #c31f33!important;
    color: #ffffff!important;
    cursor: pointer;
}
.ods10{
    border:3px #e11484 solid!important;
    color: #e11484!important;
    transition: 0.7s;
}
.ods10:hover{
    background-color: #e11484!important;
    color: #ffffff!important;
    cursor: pointer;
}
.ods11{
    border:3px #f99d26 solid!important;
    color: #f99d26!important;
    transition: 0.7s;
}
.ods11:hover{
    background-color: #f99d26!important;
    color: #ffffff!important;
    cursor: pointer;
}
.ods12{
    border:3px #cf8d2a solid!important;
    color: #cf8d2a!important;
    transition: 0.7s;
}
.ods12:hover{
    background-color: #cf8d2a!important;
    color: #ffffff!important;
    cursor: pointer;
}
.bg-inherit{
    background-color: inherit!important;
}
.teamImage{
    border-radius: 50%;
    width: 150px!important;
}
.imgBadge{
    width: 50px!important;
}
.scoolitButton{
    background-color: #6633ff!important;
    color:#ffffff!important;
    transition: 0.5s;
    font-family: 'Asap', sans-serif!important;

}
.scoolitButton:hover{
    background-color: #906bff!important;
}
a{
    color: #6633ff!important;
    font-family: 'Asap', sans-serif!important;
}
.active{
    background-color: #6633ff!important;
    color:#ffffff!important;
}
nav.navbar {
    margin: 1rem inherit;
}